<%- include("./fragments/head") %>

<body class="body body-egresos-del-mes">

  <%- include("./fragments/navbar") %>

  <h3>Egresos del mes</h3>

  <% if (month) { %>
  <input type="hidden" value=<%= month %> id="month-hidden" />
  <% } %>
  <% if (order) { %>
  <input type="hidden" value=<%= order %> id="order-egresos-hidden" class="value-order-hidden"/>
  <% } %>

  <select class="form-select egresosMonthSelector selector" aria-label="Selector de mes" name="monthSelector">
    <option value="0" class="month ene">Enero</option>
    <option value="1" class="month feb">Febrero</option>
    <option value="2" class="month mar">Marzo</option>
    <option value="3" class="month abr">Abril</option>
    <option value="4" class="month may">Mayo</option>
    <option value="5" class="month jun">Junio</option>
    <option value="6" class="month jul">Julio</option>
    <option value="7" class="month ago">Agosto</option>
    <option value="8" class="month sep">Septiembre</option>
    <option value="9" class="month oct">Octubre</option>
    <option value="10" class="month nov">Noviembre</option>
    <option value="11" class="month dic">Diciembre</option>
  </select>

  <div class="container-selector-order-by">
    <div class="title-order-by">
      <p class="p-order-by">Ordenar por:</p>
    </div>
    <select class="form-select ordenarEgresosPor orderSelector" aria-label="Ordenar por" name="ordenarEgresosPor">
      <option value="day-desc" class="opcionOrdenarEgresos day-desc">Día - Desc (↓)</option>
      <option value="day-asc" class="opcionOrdenarEgresos day-asc">Día - Asc (↑)</option>
      <option value="categoryName-desc" class="opcionOrdenarEgresos categoryName-desc">Categoría - Desc (↓)</option>
      <option value="categoryName-asc" class="opcionOrdenarEgresos categoryName-asc">Categoría - Asc (↑)</option>
      <option value="amount-desc" class="opcionOrdenarEgresos amount-desc">Monto - Desc (↓)</option>
      <option value="amount-asc" class="opcionOrdenarEgresos amount-asc">Monto - Asc (↑)</option>
    </select>
  </div>

  <div class="container-gral-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Día</th>
          <th>Categoría</th>
          <th>Monto</th>
          <th>Obs</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if (egresos.length === 0) { %>
        <tr>
          <td class="noRegisteredMovements">No se registran egresos en este período</td>
        </tr>
        <% } else { %>
        <% for( let i = 0; i < egresos.length; i++ ) { %>
        <tr>
          <td scope="col"><%= i + 1 %></td>
          <td><%= egresos[i].date %></td>
          <td><%= egresos[i].cat %></td>
          <td>$ <%= egresos[i].value %></td>
          <% if (egresos[i].obs === "") { %>
          <td>-</th>
            <% } else {%>
          <td><%= egresos[i].obs %></td>
          <% } %>
          <td><span id="btnEditarEgreso" onclick="editarEgreso('<%= egresos[i]._id %>', '<%= egresos[i].idCategory %>', '<%= egresos[i].cat %>','<%= egresos[i].value %>', '<%= egresos[i].obs %>')" data-bs-toggle="modal" data-bs-target="#edit-egreso" class="btn-mini-table">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </span></td>
          <td onclick="eliminarEgreso('<%= egresos[i]._id %>', '<%= egresos[i].cat %>')" class="btnEliminarIngreso">
            <a class="btn-mini-table btn-quitar-cat">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </a>
          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Modal edición de ingreso -->
  <%- include("./fragments/modalEdicionDeEgreso") %>

  <% let totalegresos = []; %>
  <% egresos.forEach(monto => { %>
  <% totalegresos = [...totalegresos, monto.value]%>
  <% }) %>
  <% let resultado = totalegresos.reduce((prev, curr) => prev + curr, 0 )%>

  <h6>Total de egresos: $ <span><%= resultado %></span></h6>

  <%- include("./fragments/scripts") %>
</body>

</html>