<%- include("./fragments/head") %>

<body class="body body-ingresos-del-mes">

  <%- include("./fragments/navbar") %>

  <h3>Ingresos del mes</h3>

  <% if (month) { %>
  <input type="hidden" value=<%= month %> id="month-hidden" />
  <% } %>
  <% if (order) { %>
  <input type="hidden" value=<%= order %> id="order-ingresos-hidden" class="value-order-hidden" />
  <% } %>

  <select class="form-select ingresosMonthSelector" aria-label="Selector de mes" name="monthSelector">
    <option value="0" class="month ene">Enero</option>
    <option value="1" class="month feb">Febrero</option>
    <option value="2" class="month mar">Marzo</option>
    <option value="3" class="month abr">Abril</option>
    <option value="4" class="month may">Mayo</option>
    <option value="5" class="month jun">Junio</option>
    <option value="6" class="month jul">Julio</option>
    <option value="7" class="month ago">Agosto</option>
    <option value="8" class="month sep">Septiembre</option>
    <option value="9" class="month oct">Octubre</option>
    <option value="10" class="month nov">Noviembre</option>
    <option value="11" class="month dic">Diciembre</option>
  </select>

  <div class="container-selector-order-by no-seleccionable">
    <div class="title-order-by">
      <p  class="p-order-by no-seleccionable">Ordenar por:</p>
    </div>
    <select class="form-select ordenarIngresosPor orderSelector no-seleccionable" aria-label="Ordenar por" name="ordenarIngresosPor">
      <option value="day-desc" class="opcionOrdenarIngresos day-desc">Día - Desc (↓)</option>
      <option value="day-asc" class="opcionOrdenarIngresos day-asc">Día - Asc (↑)</option>
      <option value="concept-desc" class="opcionOrdenarIngresos concept-desc">Concepto - Desc (↓)</option>
      <option value="concept-asc" class="opcionOrdenarIngresos concept-asc">Concepto - Asc (↑)</option>
      <option value="amount-desc" class="opcionOrdenarIngresos amount-desc">Monto - Desc (↓)</option>
      <option value="amount-asc" class="opcionOrdenarIngresos amount-asc">Monto - Asc (↑)</option>
    </select>
  </div>

  <div class="container-gral-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Día</th>
          <th>Concepto</th>
          <th>$</th>
          <th>Obs</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if (ingresos.length === 0) { %>
        <tr>
          <td class="noRegisteredMovements">No se registran ingresos en este período</td>
        </tr>
        <% } else { %>
        <% for( let i = 0; i < ingresos.length; i++ ) { %>
        <tr>
          <td scope="col"><%= i + 1 %></td>
          <td><%= ingresos[i].date %></td>
          <td><%= ingresos[i].concept %></td>
          <td><%= ingresos[i].value %></td>
          <% if (ingresos[i].obs === "") { %>
          <td>-</td>
          <% } else {%>
          <td><%= ingresos[i].obs %></td>
          <% } %>
          <td>
            <span id="btnEditarIngreso" onclick="editarIngreso('<%= ingresos[i]._id %>', '<%= ingresos[i].concept %>', '<%= ingresos[i].value %>', '<%= ingresos[i].obs %>')" data-bs-toggle="modal" data-bs-target="#edit-ingreso" class="btn-mini-table">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </span>
          </td>
          <td onclick="eliminarIngreso('<%= ingresos[i]._id %>', '<%= ingresos[i].concept %>')" class="btnEliminarIngreso">
            <a class="btn-mini-table btn-quitar-cat">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </a>
          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Modal edición de ingreso -->
  <%- include("./fragments/modalEdicionDeIngreso") %>

  <% let totalIngresos = []; %>
  <% ingresos.forEach(monto => { %>
  <% totalIngresos = [...totalIngresos, monto.value]%>
  <% }) %>
  <% let resultado = totalIngresos.reduce((prev, curr) => prev + curr, 0 )%>

  <h6>Total de ingresos: $ <span><%= resultado %></span></h6>

  <%- include("./fragments/scripts") %>
</body>

</html>